.App {
  text-align: center;
}

.App-header {
  background-color: #0000FF;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tile {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  background: lightyellow;
  border-style: solid;
  border-width: 2px;
  border-color: #FFD700;
  box-shadow: 5px 5px grey;
}

.newRecipeButton {
  background: green;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  /*float: left;*/
}

.launchButton {
  background: green;
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  /*float: left;*/
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  width: 300px;
  /*font-size: 11px;*/
}

.input:focus {
  border: solid 1px lightgrey;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  color: red;
}

.tile:hover .deleteButton {
  visibility: visible;
}

.editButton {
  visibility: hidden;
  background: aqua;
  float: left;
  margin: 5px;
  /*font-size: 12px;*/
  font-family: sans-serif;
  cursor: pointer;
  /*color: red;*/
}

.tile:hover .editButton {
  visibility: visible;
}

.editRecipeButton {
  visibility: hidden;
  background: aqua;
  float: left;
  margin: 5px;
  text-decoration: none;
  /*font-size: 12px;*/
  font-family: sans-serif;
  cursor: pointer;
  /*color: red;*/
}

.tile:hover .editRecipeButton {
  visibility: visible;
}

.backToListButton {
  visibility: hidden;
  background: aqua;
  float: right;
  margin: 5px;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
}

.tile:hover .backToListButton {
  visibility: visible;
}

.backFromNewToListButton {
  /*visibility: hidden;*/
  background: aqua;
  float: center;
  margin-top: 20px;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
}
